html, body {
	/* margin: 0;
	padding: 0; */
	height: 100%;
}

svg {
	height: 100%;
	width: 100%;
	pointer-events: none;
}

line {
	stroke: black;
}

.router {
	position: absolute;
	width: 125px;
	border: 5px solid;
	border-radius: 5px;
	text-align: center;
	background-color: darkkhaki;
	user-select: none;
}

.selected {
	background-color: darkgreen;
}

.selected-for-deletion {
	background-color: crimson;
}

.hasChanges {
	border-color: blue;
}

table {
	border-collapse: collapse;
	margin: 5px;
}

td, th {
	border: 1px solid lightgrey;
	text-align: center;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: lightgray;
}
